<div class="row">
    <div class="col-sm-12" id="search-bar">
        <form method="get" class="form-inline" action="/">
            <fieldset>
                <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id]), include_blank: "全部", class: "form-control" %>
                <input class="form-control" type="text" placeholder="Search" name="search" value="<%=params[:search]%>"/>
                <button class="btn btn" type="submit">Search</button>
            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 card-columns">
        <% @projects.each do |proj|%>
            <div class="card">
                <img class="card-img-top" src="<%= proj.image.url%>" alt="Card image cap" width="300">
                <div class="card-block">
                    <h4 class="card-title">
                        <%= link_to proj.name, project_url(proj)%>
                    </h4>
                    <p class="card-text"><%=proj.description%></p>
                    <%=link_to proj.web_url, proj.web_url,class: "card-link"%>
                </div>
            </div>
        <% end %>
    </div>
</div>
