<!DOCTYPE html>
<html>
    <head>
        <title>IdeaPool</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'application', media: 'all' %>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-dark bg-inverse">
                <a class="navbar-brand" href="/">IdeaPool</a>
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/projects/new">+新增專案</a>
                    </li>
                </ul>
                <div id="user-nav" class="pull-right"></div>
            </nav>

            <% flash.each do |key, value| %>
                <div class="row">
                    <%= content_tag :div, value, :class => "#{key}" unless value.blank?%>
                </div>
            <% end %>

            <%= yield %>
        </div>

        <%= javascript_include_tag "vendors/react-with-addons"%>
        <%= javascript_include_tag "vendors/react-dom"%>
        <%= javascript_include_tag "application" %>
    </body>
</html>
